.footer {
	padding: 44px 0 66px;
	background-color: #333;
	color: #fffefe;
	font-family: 'Open Sans', sans-serif;

	&__content {
		display: flex;
		justify-content: space-between;
	}
}

.f-info {
	display: inline-block;
	list-style: none;

	&__item {
		line-height: 30px;
	}

	&__link {
		color: #fffefe;
		text-decoration: none;
	}
}

@media screen and (max-width: 768px) {
	.contact__block {
	    display: flex;
	    flex-direction: column-reverse;
	    align-items: center;
	}

	.c-info {
		margin-top: 20px;
	    text-align: center;
	    margin-right: 0; 
	    list-style: none;
	}

	.c-form,
	.c-form input,
    .c-form textarea {
   		width: 90%;
    }

	.about__block {
		margin-bottom: 40px;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-around;
	}

	.ab {
		margin: 0 10px;

		&__text {
		    font-size: 14px;
		}
	}

	.header__top {
	    text-align: center;
	    padding-top: 25px;
	    display: block;
	}

	.nav {
		display: flex;
    	justify-content: center;
	}

	.footer {
		text-align: center;

		&__content {
		    display: flex;
		    flex-direction: column-reverse;
		}
	}
}

@media screen and (max-width: 480px) {
	
	.header__title {
	    margin-top: 23%;
	    font-size: 40px;
	}

	.header__text {
	    padding-bottom: 62%;
	    font-size: 20px;
	}
}